.ingredients {
	padding: 6% 0;
	background: url("../img/bg/ingredients_bg.jpg") center (center / cover) no-repeat;
	&__content {
		max-width: 570px;
		margin-left: auto;
		padding: 6% 6% 5% 6%;
		background-color: rgba(0, 0, 0, 0.67);
		@media (max-width: 425px) {
			min-height: 400px;
			padding: 9% 9% 15% 9%;
		}
	}
	&__title {
		margin-bottom: 15px;
		@include title;
		color: $white;
		text-align: center;
	}
	&__divider {
		@include divider;
		margin-bottom: 20px;
	}
	&__text {
		margin-bottom: 16%;
		@include regular;
		color: $white;
		text-align: center;
	}
	&__list-img {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}
	&__item-img {
		width: calc(100% / 3);
		max-height: 110px;
		padding: 0 15px;
		img {
			width: 100%;
			height: 100%;
			object-fit: scale-down;
			object-position: center;
			border-radius: 50%;
		}
	}
}